body{
  background-color: black;
}

/*
.text {
 position:absolute;
  top:30%;
  left:20%;
  z-index:1;
  text-decoration: none;
  font-size: 24px;
}

#topText {
  color: white;
  font-size: 20px;
  align-self: center;
  text-decoration: none;
}


#topText1 {
  color: white;
  font-size: 20px;
  align-self: center;
  text-decoration: none;
}*/
